.book-item {
  display: flex;
  margin-left: 15px;
  margin-bottom: 5px;
}

.book-cover {
  img {
    width: 70px;
    border: solid 1px rgba(100, 100, 100, 0.4);
  }
}

.book-info {
  margin-left: 5px;
  font-size: 0.9em;
}
